### 1. In the below elements which of them are values or an expression? 
eg:- values can be integer or string and expressions will be mathematical operators.

*
'hello'
-87.8
-
/
+
6

Values : 'hello' , 6 
    
Expressions : * , - , / , +

### 2. What is the difference between string and variable?

A variable can contain a string, but a string cannot contain a variable.
eg : x = "Raj"
in this case x is a variable and "Raj" is a string

### 3. Describe three different data types.

1) Numeric data type : int , float , complex

              a) int : int is a whole number 
                      eg. 2, 20, 22
                      
            b) float : float is a decimal number
                      eg. 2.0, 2.2, 
                      
          c) complex : It is a mathematical expression consist of real part and the imaginary part. The imaginary part is                              denoted with a number followed with a letter j
                      eg. 58+27j

2) Text data type : str 

           a) str : String can be a any alphanumeric character enclosed within single ('') or double ("") quote
                    eg. 'Raj' , "Gayatri" 
               

3) Sequence data type : list , tuple , range 

              a) list : list contains one or more than one element having heterogeneous data type
                        Elements in the list are always enclosed with square bracket[] 
                        list is Mutable, ordered and allow duplicates
                        Since it is mutable it has variable length and it requires more memory
                        eg. [1,2,3,4,'r','a',5]
                        
             b) tuple : tuple contains one or more than one element having heterogeneous data type
                        Elements in the tuple are always enclosed with parenthesis()
                        tuple is immutable, ordered and allow duplicates
                        Since it is immutable it has fixed length and it requires less memory
                        eg. (1,2,3,4,'r','a',5)

### 4. What is an expression made up of? What do all expressions do?

A combination of operands and operators is called an expressions. It is a piece of code containing mathematical operator which produce an output.

eg. x= 2 , y= 5
    sum= x+y

### 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

1)Any instruction written in the source code and executed by the python interpreter is called a statement.
  A combination of operands and operators is called an expressions.
  
2)A statement in python is not evaluated for some results.
  An expression in python is is evaluated for some results.
  
3)The execution of a statement changes the state of the variable. 
  The expression evaluation does not result in any state change.
  
  spam=10 is a statement

### 6. After running the following code, what does the variable bacon contain?

bacon = 22 ,
bacon + 1

In [6]:
bacon=22
bacon+1
print(bacon)

22

### 7. What should the values of the following two terms be?

In [11]:
a = 'spam'+'spamspam'
b = 'spam' * 3

print(a)
print()
print(b)

spamspamspam

spamspamspam

In [12]:
print('spam' + 'spamspam')
print()
print('spam'*3)

spamspamspam

spamspamspam

### 8. Why is eggs a valid variable name while 100 is invalid?

A variable name must starts from an underscore or an alphabate
that's why eggs is a valid variable name while 100 is invalid

### 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [22]:
n = 5

#print(n)
print(int(n))
print(float(n))
print(str(n))
print(type(int(n)))
print(type(float(n)))
print(type(str(n)))

5
5.0
5
<class 'int'>
<class 'float'>
<class 'str'>

In [23]:
n = 5

n_int = int(n)
print(n_int)
print(type(n_int))
print()

n_float = float(n)
print(n_float)
print(type(n_float))
print()

n_str = str(n)
print(n_str)
print(type(n_str))

5
<class 'int'>

5.0
<class 'float'>

5
<class 'str'>

### 10. Why does this expression cause an error? How can you fix it?

In [29]:
'I have eaten'+99+ 'burritos'

TypeError: can only concatenate str (not "int") to str

In [30]:
'I have eaten'+' 99 '+ 'burritos'

'I have eaten 99 burritos'